<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/jpeg" href="rose.jpg" />

<div class="header-banner">
	<div class="header-title">
		Bex Bakes Cakes
	</div>
</div>